<table>
  <% @result.each do |r| %>
    <tr>
      <td><img src='<%=r[ :other_picture]%>'></td>
      <td>
        user's name: <%= r[ :other_name] %></br>
        user's similarity: <%= r[ :similarity] %>
      </td>
    </tr>
  <% end %>
</table>


